{%  extends 'core_base.html' %}

{% block main_row %}

<!-- <h2>Assets list</h2> -->

<!-- <table class='table-autor'>
<thead>
    <tr>
        <th class="px-4 py-2">UUID</th>
        <th class="px-4 py-2">Filename</th>
        <th class="px-4 py-2">File</th>
    </tr>
</thead>
<tbody>
    {% for asset in assets %}
    <tr>
        <td class="border px-4 py-2">{{ asset.uuid }}</td>
        <td class="border px-4 py-2">{{ asset.filename }}</td>
        <td class="border px-4 py-2"><a href="{{ asset.file }}">{{ asset.file }}</a> </td>
    </tr>
    {% endfor %}
</tbody>
</table> -->

<table class="border-collapse w-full">
    <thead>
        <tr>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">UUID</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Filename</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Status</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">File</th>
            <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Actions</th>
        </tr>
    </thead>
    <tbody>
            {% for asset in assets %}
        <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">UUID</span>
                {{ asset.uuid }}
            </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Filename</span>
                {{ asset.filename }}
            </td>
          	<td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">status</span>
                <span class="rounded bg-red-400 py-1 px-3 text-xs font-bold">deleted</span>
              </td>
              <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                    <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">File</span>
                    <a href="{{ asset.file }}">{{ asset.file }}</a>
                </td>
            <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Actions</span>
                <!-- <a href="{% url 'update_asset' asset.pk %}" class="text-blue-400 hover:text-blue-600 underline">Edit</a> -->
                <button class="rounded bg-yellow-400 py-1 px-3 text-xs font-bold"><a href="{% url 'update_asset' asset.pk %}" class="text-blue-400 hover:text-blue-600 underline">Edit</a></button>
                <form method="post" action="{% url 'delete_asset' asset.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="rounded bg-red-400 py-1 px-3 text-xs font-bold">Remove</button>
                </form>               
                <!-- <a href="{% url 'delete_asset' asset.pk %}" class="text-blue-400 hover:text-blue-600 underline pl-6">Remove</a> -->
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>

{% endblock %}
